body {
	background: #6190E8;
	background: -webkit-linear-gradient(to left, #6190E8 , #A7BFE8);
	background: linear-gradient(to left, #6190E8 , #A7BFE8);
}

.container {
	margin:100px auto 0px auto;
	width:80%;
	max-width:1000px;
	-webkit-box-shadow: 10px 10px 21px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 21px -3px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 21px -3px rgba(0,0,0,0.75);
}

.title {
	padding-bottom:10px;
	font-family:'Pacifico';
	font-size:4em;
	background-color:rgb(14, 79, 183);
	border-radius:10px 10px 0px 0px;
	text-align:center;
	color:white;
}

.titleIcon {
	float:right;
}

#userInput {
	box-sizing: border-box;
	outline: none;
	border: 1px solid rgb(221, 221, 221);
	padding:10px 20px 10px 20px;
	width:100%;
}

#userInput, .toDo {
	font-family:'Roboto', sans-serif;
	font-size:3.5vmin;
	white-space:nowrap;
	overflow-x:auto;
}

#userInput:focus {
	box-shadow: 0 0 5px rgb(81, 203, 238);
  	border: 1px solid rgb(81, 203, 238);
}

.delete {
	display:inline-block;
	width:0px;
	padding:10px;
	background-color:rgb(150, 0, 0);
	text-align:center;
	transition:0.2s linear;
	opacity:0;
}

.toDo:hover .delete {
	width:10%;
	transition:0.2s linear;
	opacity:1.0;
}

.toDoText {
	margin-left:10px;
}

.trash {
	color:white;
}

div.toDo:nth-child(odd) {
	background-color:rgb(147, 188, 255);
}

div.toDo:nth-child(even) {
	background-color:white;
}

.crossOff {
	color:rgb(86, 85, 85);
	text-decoration:line-through;
}

.toDoText {
	display:inline-block;
}
